body{
    margin: 0px;
}
.mainheader{
    width: 100%;
    height: 80px;
   text-align: right;
   background-color: #FA7A96;
}

.icmenu{
    width: 200px;
    height: 100%;
    background-color: #FACEF2;
    display: inline-block;
    text-align: center;
    line-height: 80px;

}
a{
    text-decoration: none;
    color:#FA7AE3;
}
.sola{
    float: left;
}
a:hover{
    color:white;
}

.icmenu:hover{
    background-color: #DD7AFA;
}
.icmenu:hover a{
    color: white;
}
